html {
  background-color: #E0E0E0;
}

.formula span {
  margin: 0;
}

.app {
  padding-top: 50px;
}

.error-text {
  font-size: 14pt;
  background-color: #F0D0D0;
  color: #800000;
}

.toolbar {
  z-index: 10000;
  /*height: 40px;*/
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #E0E0E0;

  border-bottom: 2px solid #606060;
}

.toolbar * {
  margin-right: 10px;
}

.toolbar h1 {
  margin: 0 40px 0 0;
  padding: 0;
  display: inline-block;
  font-size: 20pt;
  font-family: serif;
}

.toolbar button {
  height: 30px;
  font-size: 12pt;
  margin: 5px;
}

pre {
  margin: 0;
  font-size: 12pt;
}

code {
  font-family: monospace;
}

input {
  padding: 2px;
  font-size: 14pt;
}

textarea {
  padding: 2px;
  font-size: 14pt;
}

button {
  border-top: 2px solid #F0F0F0;
  border-left: 2px solid #E8E8E8;
  border-right: 2px solid #404040;
  border-bottom: 2px solid #606060;
}

button:active {
  border-top: 2px solid #404040;
  border-left: 2px solid #606060;
  border-right: 2px solid #E8E8E8;
  border-bottom: 2px solid #F0F0F0;
}

input {
  border-top: 1px solid #404040;
  border-left: 1px solid #606060;
  border-right: 1px solid #E8E8E8;
  border-bottom: 1px solid #F0F0F0;
  background: #F0F0F0;
}

.induction-case-header {
  color: #A02020;
  display: inline-block;
  font-size: 14pt;
  padding-left: 20px;
  padding-bottom: 8px;
}

.block-header {
  display: inline-block;
  font-size: 16pt;
  padding-left: 20px;
  margin-bottom: -20px;
}

.block-header-error {
  background: #E0C0C0;
  display: inline-block;
  font-size: 16pt;
  padding-left: 20px;
  margin-bottom: -20px;
}

.section-action {
  margin-left: 20px;
}

.block {
  border-top: 2px solid #404040;
  border-left: 2px solid #606060;
  border-right: 2px solid #E8E8E8;
  border-bottom: 2px solid #F0F0F0;
  margin: 20px;
  padding: 20px;
}

.proof {
  width: 100%;
}

.proof-status-ok {
  font-size: 16pt;
  padding-left: 16px;
  color: #208020;
}

.proof-status-no {
  font-size: 16pt;
  padding-left: 16px;
  color: #802020;
}

.goal-text {
  display: inline-block;
  margin-right: 20px;
}

.declaration-block {
  margin-top: 10px;
  margin-bottom: 10px;
}

.comment-block {
  max-width: 50em;
  font-size: 14pt;
}

.assumption-header .declaration-block {
  display: inline-block;
}

.declaration-button {
  margin-right: 10px;
}

.declaration-text {
  font-size: 12pt;
  font-family: monospace;
}

.proof-inner {
  margin: 20px;
}

.steps {
  width: 100%;
}

.assumption .steps {
  margin: 10px 0 10px 0;
}

.steps tbody tr td {
  vertical-align: top;
}

.step {
  height: 32px;
}

.result-error {
  background: #E0C0C0;
}

.result-tentative {
  background: #C0C0E0;
}

.result-ok {
  background: #C0E0C0;
}

.assumption {
  border-bottom: 2px solid #808080;
  border-right: 2px solid #A0A0A0;
  border-left: 2px solid #E8E8E8;
  border-top: 2px solid #F0F0F0;
  padding: 4px;
}

.assumption-box {
  /*outline: solid 1px #404040;*/
}

.step-status-cell {
  width: 2%;
}

.step-number-cell {
  width: 6%;
}

.assumption-number {
  display: inline-block;
  margin-left: 2%;
  margin-right: 10px;
}

.step-number {
  display: inline-block;
  margin: 0 5px 0 5px;
  color: #202080;
}

.rule-name {
  display: inline-block;
  font-weight: bold;
  margin: 0 5px 0 5px;
  color: #A02020;
}

.step-formula-cell {
  width: 44%;
}

.step-formula-cell input {
  width: 80%;
}

.step-justification-cell {
  width: 15%;
}

.step-justification-cell span {
  cursor: text;
}

.assumption-body-cell {
  width: 80%;
}

.step-operation-cell {
  width: 10%;
}

.step-delete-cell {
  width: 1%;
}

.equality-equal-cell {
  width: 0.5%;
}

.equality-term-cell {
  width: 69.5%;
}

.equality-justification-cell {
  width: 25%;
}

.equality-button-cell {
  width: 5%;
}

.justification-given {
  display: inline-block;
  margin: 0 10px 0 10px;
  color: #208020;
}

.justification-question {
  display: inline-block;
  margin: 0 10px 0 10px;
  color: #808008;
}

.justification-empty {
  display: inline-block;
  margin: 0 10px 0 10px;
  color: #606060;
}

.formula {
  display: inline-block;
  color: #000000;
}

.formula:hover {
  background-color: #F0F0F0;
}

.assumption-text {
  display: inline-block;
  color: #208020;
  padding-right: 1.2em;
  padding-left: 1.2em;
}

.assumption-operations {
  float: right;
}

.message-error {
  background-color: #F0D0D0;
  color: #800000;
}

.message-info {
  background-color: #D0F0D0;
  color: #008000;
}

.message-title {
  font-size: 20pt;
}

.message-body {
  font-size: 12pt;
}
